[submodule "global/home/mble/.config/alacritty/themes"]
	path = global/home/mble/.config/alacritty/themes
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "global/home/mble/.config/alacritty/oxocarbon"]
	path = global/home/mble/.config/alacritty/oxocarbon
	url = git@github.com:ikoide/oxocarbon-alacritty.git
