[user]
	email = pub@mble.dk
	name = mbledkowski
	signingkey = 9A6234359E5827E2
[init]
	defaultBranch = main
[core]
	editor = nvim
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /home/mble/go/pkg/mod/github.com/dgraph-io/ratel@v0.0.0-20230409031452-074df688a0ff
[color]
	ui = auto
